# Ignore node_modules directory
node_modules

# Ignore .git directory
.git

# Ignore .gitignore file
.gitignore

# Ignore Dockerfile
Dockerfile

# Ignore README.md
README.md

# Ignore any log files
*.log

# Ignore any .env files
*.env